body {
  margin: 0px;
}
#root {
  height: -webkit-fill-available; /* 在 WebKit 內核的瀏覽器中使用 */
  width: -webkit-fill-available; /* 同樣在 WebKit 內核的瀏覽器中使用 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}
