// 定义一个容器类来包含所有样式
// 头部样式
.header {
  // text-align: center;
  // padding-inline: 48px;
  background-color: #ffffff;
  padding: 0;
}

// 内容样式
.content {
  // text-align: center;
  background-color: #ffffff;
  // margin: 10px;
  overflow: scroll;
}

// 侧边栏样式
.sider {
  // text-align: center;
  background-color: #ffffff;
  background: #ffffff !important;
  // width: 100%;
}

// 底部样式
.footer {
  // text-align: center;
  background-color: #ffffff;
}
.demo-logo-vertical {
  height: 32px;
  width: -webkit-fill-available;
  margin: 16px;
  background: rgba(105, 151, 249, 0.2);
  border-radius: 6px;
}
.demo-avatar {
  height: 50px;
  width: 50px;
  margin: auto;
  background: rgba(105, 151, 249, 0.2);
  border-radius: 6px;
}
.ant-layout-sider {
  width: 100%;
}

.hide-on-mobile {
  display: none !important;
}

@media (min-width: 768px) {
  .hide-on-mobile {
    display: inline-block !important;
  }
}
